<section id="register" ng-controller="validationController as validation">
	<div class="container">
		<div class="box">
			<div class="center gap">
				<h2 style="margin-bottom: 10px">Register</h2>
				<p class="lead">What are you waiting for? Sign up and join in on the fun!</p>
				<form action="/register" name="signup" method="post" ng-submit="validation.submitForm()">
					<!--<div class="row">
						<input type="text" class="form-item" name="first-name" id="first-name" placeholder="First Name(s)" ng-model="firstname" />
						<input type="text" class="form-item" name="last-name" id="last-name" placeholder="Last Name" ng-model="lastname" />
					<div class="row">
						<input type="text" class="form-item" name="email" id="email" placeholder="Email" style="width: 303px" ng-model="email" />
					</div>
					<div class="row">
						<input type="text" class="form-item" name="affiliation" id="affiliation" placeholder="Academic or business affiliation" style="width: 303px" ng-model="affiliation" /> 
					</div>
					<div class="row">
						<button class="btn btn-large btn-primary form-item" type="submit" id="submit-form" ng-click="validation.validate()">Register Now!</button>-->
					<div class="row">{{registration_form.first_name(placeholder="First Name(s)")}} {{registration_form.last_name(placeholder="Last Name(s)")}}</div>
					<div class="row">{{registration_form.email(placeholder="Email", style="width: 303px; margin-top: 5px")}}</div>
					<div class="row">{{registration_form.affiliation(placeholder="Academic or business affiliation", style="width: 303px; margin-top: 5px")}}</div>
					<div class="row">{{registration_form.submit(placeholder="Register Now!", class="btn btn-large btn-primary", style="margin-top: 10px")}}</div>
					</div>
				</form>
				<p class="lead" style="font-size: 12px">You should receive an email confirming your spot upon successful registration.</p>
			</div>
		</div>
	</div>
</section>