<section id="sponsors">
    <div class="container">
        <div class="box first">
            <div class="center gap">
                <h2>Sponsors</h2>
                <p class="lead">If you're interested in sponsoring HackDartmouth, please e-mail <a href="mailto:dartmouthhackathon@gmail.com">dartmouthhackathon@gmail.com</a> for more information.</p>
                <p class="lead">And take a moment to check out our sponsors:</p>
                <div class="row">
					<a target="blank" href="http://dali.dartmouth.edu/"><img class="sponsor" src="{{ url_for('static', filename='img/dali_lab.png') }}" alt="Neukom Lab and Dali Institute"/></a>
                    <a target="blank" href="http://www.google.com/"><img class="sponsor" src="{{ url_for('static', filename='img/google.png') }}" alt="Google" /></a>
        		</div>
            </div>
        </div>
    </div>
</section>