<section id="sponsors">
    <div class="container">
        <div class="box first">
            <div class="center gap">
                <h2>Sponsors</h2>
                <p class="lead">If you're interested in sponsoring HackDartmouth, please e-mail <a href="mailto:dartmouthhackathon@gmail.com">dartmouthhackathon@gmail.com</a> for more information.</p>
                <p class="lead">Here are our current sponsors:</p>
                <div class="row">
					<a target="blank" href="http://dali.dartmouth.edu/"><img class="sponsor" src="{{ url_for('static', filename='img/dali_lab.png') }}" alt="Neukom Lab and Dali Institute"/></a>
                	<a target="blank-1" href="https://www.lob.com/"><img class="sponsor" src="{{ url_for('static', filename='img/lob.png') }}" alt="Lob"/></a>
        		</div>
            </div>
        </div>
    </div>
</section>