<section id="about">
    <div class="box first">
    	<div class="center gap">
            <h2>About</h2>
            <p class="lead">HackDartmouth is Dartmouth College's first national hackathon. We're bringing together hundreds of students from all over the country to work together for 24 hours. You'll have the opportunity to build awesome projects, websites, and apps, learn new skills and API's, meet amazing people, connect with employers, and win great prizes.</p>
            <p class="lead">All meals and snacks are provided, and there are tons of great prizes to give out. <!--If you're in the New England area, we'll provide transportation, otherwise we will cover the cost of your travel up to $200.-->
            </p>
            <p class="lead">You can subscribe to your mailing list using the button below</p>
            <a href="#register" class="btn btn-primary">Register</a>
        </div>
    </div>
</section>