<div class="row" id="about">
    <div class="box first col-md-12">
    	<div class="center gap">
            <span class="row">
                <span class="row" id="about-header"><h2><strong>WELCOME TO&nbsp;</strong><img src="{{ url_for('static', filename='img/hackdartmouth.png') }}" style="width:50%; height: 10%; padding-bottom: 15px" alt=" HACKDARTMOUTH" /></h2></span>
                <span class="row col-md-11"><img id="underline" src="{{ url_for('static', filename='img/underline.png') }}" /></span>
            </span>
            <p class="lead">HackDartmouth 2015 is Dartmouth College's inaugural student-run hackathon. We're bringing together hundreds of students from numerous universities to work together for 24 hours. You'll have the opportunity to build awesome projects, websites, and apps, learn new skills and APIs, meet amazing people, connect with tech firms, and win great prizes.</p>
            <p class="lead">All meals and snacks are provided, and there are tons of great prizes to give out.
            </p>
            <p class="lead">You can subscribe to our mailing list using the button below:</p>
            <a href="#register" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>