<div class="row" id="contact">
    <div class="box col-md-12">
        <div class="center row">
            <div class="col-md-12">
                <h2><strong>CONTACT</strong></h2>
                <p class="lead">Feel free to e-mail HackDartmouth at <a href="mailto:dartmouthhackathon@gmail.com">dartmouthhackathon@gmail.com</a> about anything. Check out our pages on Twitter and Facebook.</p>
            </div>
        </div>
        <div class="center gap row">
            <div class="col-md-12">
                <ul class="list-inline banner-social-buttons">
                    <li><a href="http://twitter.com/hackdartmouth" class="btn btn-primary"><i class="fa fa-twitter fa-fw"></i><span>Twitter</span></a>
                    </li>
                    <li><a href="http://facebook.com/HackDartmouth" class="btn btn-primary"><i class="fa fa-facebook fa-fw"></i><span>Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>