<div class="row" id="faq">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row"><h2 class="col-md-offset-5 col-md-2"><strong>FAQ</strong></h2></div>
                <div class="row" style="margin-top: -50px"><div class="col-md-11"><img id="underline-flip" src="{{ url_for('static', filename='img/underline.png') }}" /></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div><p class="lead"><strong>What is a hackathon?</strong></p></div>
                <div><p class="lead">A hackathon is an event in which groups of hackers divided into teams develop a product. Hundreds of programmers get together and form teams to create a cool web or mobile application. There will be lots of food and prizes, and opportunities to network with employers from tech companies.</p></div>
            </div>
            <div class="col-md-4">
                <p class="lead"><strong>Who can attend?</strong></p>
                <p class="lead">Any undergraduate student is welcome to attend! We also admit high school students on a case by case basis.</p>
            </div>
            <div class="col-md-4">
                <p class="lead"><strong>What if I don't don't have much experience?</strong></p>
                <p class="lead">That's completely fine! We have mentors who will help you hit the ground running with guidance. You'll also have plenty of opportunity to pick the brains of talented students around you. Furthermore, 24 hours is plenty of time to learn something new!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="lead"><strong>Do I need to come with an idea or team?</strong></p>
                <p class="lead">No. Although you can sign up with teammates, you can also sign up as an individual, and we will help place you on a team. From there, your mentors can help you brainstorm if you are having trouble coming up with an idea. </p>
            </div>
            <div class="col-md-4">
                <p class="lead"><strong>What should I build?</strong></p>
                <p class="lead">You can build whatever you want: websites, programs, mobile apps, anything! However, all code must be written during the hackathon - feel free to use open source libraries and APIs.</p>
            </div>
            <div class="col-md-4">
                <p class="lead"><strong>How do I get to Dartmouth?</strong></p>
                <p class="lead">We will have shuttle buses coming from Boston, New York, and other New England cities. If you are further away, the recommended route is to fly into Boston Logan Airport and take the <a href="http://dartmouthcoach.com">Dartmouth Coach.</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="lead"><strong>What should I bring?</strong></p>
                <p class="lead">Laptop, cellphone, chargers, sleeping bag, pillow, toiletries, a few change of clothes. Please don't bring alcohol, drugs, soldering equipment. </p>
            </div>
            <div class="col-md-4">
                <p class="lead"><strong>What can I win?</strong></p>
                <p class="lead">A panel of judges will decide on the winning hacks based on criteria of creativity, usefulness, technical difficulty, and form. The top prizes are TBA, but will be worth thousands of dollars and perks from company sponsors. Most sponsors will offer their own prizes for specific categories as well.</p>
            </div>
            <div class="col-md-4">
                <p class="lead"><strong>I'm not a student. How can I get involved?</strong></p>
                <p class="lead">You can help by mentoring students or sponsoring the event. Contact <a href="mailto:dartmouthhackathon@gmail.com">dartmouthhackathon@gmail.com</a> to find out how. You can also spread the word about this event to students, friends, and media.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <p class="lead"><strong>My question isn't on here!</strong></p>
                <p class="lead">Shoot us an email at <a href="mailto:dartmouthhackathon@gmail.com">dartmouthhackathon@gmail.com</a>, or submit your question on this <a href="https://docs.google.com/forms/d/1Icdl41m24wOheoeuDAalHw9JYpk9Ll2NUWabMAzBFCE/viewform?usp=send_form">form</a></p>
            </div>
        </div>
    </div>
</div>