<div class="row" id="important">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <span class="row"><h2 class="col-sm-12" style="text-align: center"><strong>IMPORTANT INFORMATION</strong></h2>
                <div class="col-sm-11"><img id="underline-flip" src="{{ url_for('static', filename='img/underline.png') }}" /></div></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <p><strong>Please find here some important information regarding the event:</strong></p>
            </div>
        </div>
        <div class="row" style="text-align: center"><strong>Available Rooms:</strong></div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <table width="100%">
                    <tr>
                        <td><u>Basement</u></td>
                        <td><u>Ground Floor</u></td>
                        <td><u>First Floor</u></td>
                        <td><u>Second Floor</u></td>
                    </tr>
                    <tr>
                        <td>Zaleski</td>
                        <td>M001</td>
                        <td>C105</td>
                        <td>Rett's Room</td>
                    </tr>
                    <tr>
                        <td>Thayer Atrium</td>
                        <td>C102</td>
                        <td>C200</td>
                    </tr>
                    <tr>
                        <td>C118</td>
                        <td>C202</td>
                    </tr>
                    <tr>
                        <td>M101</td>
                    </tr>
                    <tr>
                        <td>M132</td>
                    </tr>
                    <tr>
                        <td>Great Hall</td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</div>
