<div class="row" id="important">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <span class="row"><h2 class="col-md-12" style="text-align: center"><strong>IMPORTANT INFORMATION</strong></h2>
                <div class="col-md-11"><img id="underline-flip" src="{{ url_for('static', filename='img/underline.png') }}" /></div></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <p><strong>Please find here some important information regarding the event:</strong></p>
            </div>
        </div>
        <div class="row" style="text-align: center"><strong>Available Rooms:</strong></div>
        <div class="row">
            <span class="col-md-3">Basement</span>
            <span class="col-md-3">Ground Floor</span>
            <span class="col-md-3">First Floor</span>
            <span class="col-md-3">Second Floor</span>
        </div>
        <div class="row">
            <span class="col-md-3">Zaleski</span>
            <span class="col-md-3">M001</span>
            <span class="col-md-3">C105</span>
            <span class="col-md-3">Rett's Room</span>
        </div>
        <div class="row">
            <span class="col-md-offset-3 col-md-3">Thayer Atrium</span>
            <span class="col-md-3">C102</span>
            <span class="col-md-3">C200</span>
        </div>
        <div class="row">
            <span class="col-md-offset-6 col-md-3">C118</span>
            <span class="col-md-3">C202</span>
        </div>
        <div class="row">
            <span class="col-md-offset-6 col-md-3">M101</span>
        </div>
        <div class="row">
            <span class="col-md-offset-6 col-md-3">M132</span>
        </div>
        <div class="row">
            <span class="col-md-offset-6 col-md-3">Great Hall</span>
        </div>
    </div>
</div>
