<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>HackDartmouth</h1>
                    <p class="subcontent">April 11-12, 2015 @ Dartmouth College</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>200 hackers-24 hours</h1>
                    <p class="subcontent">Open to undergraduates from all universities</p>
                </div>
            </div>
        </div>
    </div>
    <a class="prev" href="#main-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
</section>