<div id="register" class="row">
	<div class="col-md-12">
		<div class="center gap row">
			<div class="col-md-12">
				<div class="row">
					<h2 style="margin-bottom: 10px"><strong>REGISTER</strong></h2>
				</div>
				<div class="row">
					<div class="col-md-11">
						<img src="{{ url_for('static', filename='img/underline.png') }}" width="100%">
					</div>
				</div>
				<div class="row">
					<h1>Thank you to all who participated in our inaugural hackathon for a wonderful, swag-tastic time. Stay tuned for details on future events!</h1>
				</div>
			</div>
		</div>
	</div>
</div>
