<div class="row" id="schedule">
    <div class="col-md-12">
        <div class="center gap row">
            <div class="col-md-12">
                <h2><strong>SCHEDULE</strong></h2>
                <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <p><strong>Saturday, April 11</strong></p>
                        <span class="row">9AM - 11AM Registration</span>
                        <span class="row">11AM - 12:30PM Opening Ceremony</span>
                        <span class="row">12:30PM Hacking Begins</span>
                        <span class="row">1PM - 9PM Workshops, Tech Talks</span>
                    </div>
                    <div class="col-md-4">
                        <p><strong>Sunday, April 12</strong></p>
                        <span class="row">12AM - 1AM Midnight Activity</span>
                        <span class="row">11AM Hack Submissions Due</span>
                        <span class="row">11:30AM - 1PM Judging</span>
                        <span class="row">1:30PM - 2:30PM Closing Ceremony</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>