<div class="row" id="schedule">
    <div class="box">
        <div class="center gap">
            <h2><strong>SCHEDULE</strong></h2>
            <div class="row">
                TBD
            <!--
            <div class="col-md-4">
                <p><strong>Friday</strong></p>
                <p>5:00pm: Buses arrive </p>
                <p>5:00pm - 6:30pm: Registration </p>
                <p>6:30pm - 7:00pm: Opening Ceremony</p>
                <p>7:00pm - 8:00pm: Dinner</p>
                <p>7:00pm - 8:00pm: Keynote Speaker</p>
                <p>8:00pm - 9:00pm: API Fair</p>
                <p>9:00pm: Hacking Begins!!</p>
                <p>12:00 pm: Midnight Snacks</p>
            </div>
            <div class="col-md-4">
                <p><strong>Saturday</strong></p>
                <p>2:00am - 6:00am: Random Activities</p>
                <p>8:00am: Breakfast</p>
                <p>12:00pm: Lunch</p>
                <p>1:00pm - 1:30pm: Sponsor Presentation</p>
                <p>1:30pm - 2:00pm: Sponsor Presentation</p>
                <p>2:00pm - 2:30pm: Sponsor Presentation</p>
                <p>2:30pm - 3:00pm: Sponsor Presentation</p>
                <p>3:00pm - Afternoon snacks</p>
                <p>7:00pm: Dinner</p>
                <p>12:00pm: Midnight Snacks</p>
            </div>
            <div class="col-md-4">
                <p><strong>Sunday</strong></p>
                <p>2:00am - 6:00am: Random Activities </p>
                <p>9:00am: Hacks completed </p>
                <p>10:00am - 12:00pm: Judging</p>
                <p>12:00pm - 1:00pm: Lunch</p>
                <p>1:00pm - 4:00pm: Demos &amp; awards</p>
                <p>5:00pm: Buses leave</p>
            </div>
            -->
          </div>
        </div>
    </div>
</div>