<div class="row" id="schedule">
    <div class="col-md-12">
        <div class="center gap row">
            <div class="col-md-12">
                <h2><strong>SCHEDULE</strong></h2>
                <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <p><strong style="color: #000000">Saturday, April 11</strong></p>
                        <span class="row schedule-row">9:00 AM - 11:00 AM Registration</span>
                        <span class="row schedule-row">11:00 AM - 12:00 PM Opening Ceremony</span>
                        <span class="row schedule-row">12:00 PM Hacking Begins, Lunch</span>
                        <span class="row schedule-row">1:00 PM - 9:00 PM Workshops, Tech Talks</span>
                        <span class="row schedule-row">6:30 PM Dinner</span>
                        <span class="row schedule-row">9:30 PM Casual Thursday Performance</span>
                        <span class="row schedule-row">10:45 PM SHEBA Performance</span>
                        <p><strong style="color: #000000">Sunday, April 12</strong></p>
                        <span class="row schedule-row">12:00 AM - 1:00 AM Midnight Activity</span>
                        <span class="row schedule-row">7:30 AM Breakfast</span>
                        <span class="row schedule-row">11:00 AM Hack Submissions Due</span>
                        <span class="row schedule-row">11:30 AM - 12:45 PM Judging</span>
                        <span class="row schedule-row">12:00 PM Lunch</span>
                        <span class="row schedule-row">1:00 PM - 2:30 PM Closing Ceremony</span>
                    </div>
                    <div class="col-md-4">
                        <p><strong style="color: #000000">Workshop and Tech Talk Schedule - Saturday, April 11 - Spanos Auditorium</strong></p>
                        <span class="row schedule-row">1:00 PM Microsoft: Kinect, Azure</span>
                        <span class="row schedule-row">1:30 PM Ionic Security</span>
                        <span class="row schedule-row">2:00 PM Pebble: Pebble showcase</span>
                        <span class="row schedule-row">2:30 PM Prof. Chris Levey: Grove Sensors and Actuators with Arduino</span>
                        <span class="row schedule-row">3:00 PM Autodesk: Fusion 360</span>
                        <span class="row schedule-row">5:30 PM Adobe</span>
                        <span class="row schedule-row">6:00 PM Palantir</span>
                    </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>