<div class="row" id="sponsors">
    <div class="first col-md-12">
        <div class="center gap">
            <h2><strong>SPONSORS</strong></h2>
            <p class="lead">If you are interested in sponsoring HackDartmouth, please e-mail <a href="mailto:dartmouthhackathon@gmail.com">dartmouthhackathon@gmail.com</a> for more information.</p>
            <p class="lead">Thank you to the companies and organizations that make HackDartmouth possible!</p>
            <div class="sponsor-row row">
                <a target="blank" href="http://www.microsoft.com/en-us/default.aspx"><img class="sponsor giga" src="{{ url_for('static', filename='img/microsoft.png') }}" style="margin-bottom: 2%" alt="Microsoft" /></a>
                <a target="blank" href="https://ionicsecurity.com/"><img class="sponsor giga" src="{{ url_for('static', filename='img/ionic.png') }}" style="margin-bottom: 2%" alt="Ionic Security" /></a>
            </div>
            <div class="sponsor-row row">
                <a target="blank" href="https://www.palantir.com/"><img class="sponsor mega" src="{{ url_for('static', filename='img/palantir.png') }}" alt="Palantir" /></a>
            </div>
            <div class="sponsor-row row">
                <a target="blank" href="http://www.flowtraq.com/corporate/"><img class="sponsor api" src="{{ url_for('static', filename='img/flowtraq.png') }}" style="height: 20%; width: 20%" alt="FlowTraq" /></a>
                <a target="blank" href="http://www.google.com/"><img class="sponsor api" src="{{ url_for('static', filename='img/google.png') }}" style="height: 20%; width: 20%" alt="Google" /></a>
    		</div>
            <div class="sponsor-row row" style="margin-bottom: 2%">
                <a target="blank" href="https://www.namecheap.com/"><img class="sponsor contributor" src="{{ url_for('static', filename='img/namecheap.png') }}" style="height: 25%; width: 25%" alt="Namecheap" /></a>
                <a target="blank" href="http://www.facebook.com/"><img class="sponsor contributor" src="{{ url_for('static', filename='img/facebook.png') }}" style="height: 4%; width: 4%" alt="Facebook" /></a>
                <a target="blank" href="http://challengepost.com/"><img class="sponsor contributor" src="{{ url_for('static', filename='img/challenge-post.png') }}" style="height: 10%; width: 10%; margin-right: 2%" alt="ChallengePost"/></a>
            </div>
            <p class="lead">Our awesome partners:</p>
            <a target="blank" href="http://engineering.dartmouth.edu/"><img class="sponsor api" src="{{ url_for('static', filename='img/thayer.png') }}" style="height: 10%; width: 10%" alt="Thayer School of Engineering at Dartmouth" /></a>
            <a target="blank" href="http://dali.dartmouth.edu/"><img class="sponsor contributor" src="{{ url_for('static', filename='img/dali_lab_2.png') }}" style="height: 15%; width: 15%; margin-right: 2%" alt="Neukom Lab and Dali Institute"/></a>
            <a target="blank" href="https://mlh.io/"><img class="sponsor partner" src="{{ url_for('static', filename='img/mlh.png') }}" style="height: 15%; width: 15%" alt="Major League Hacking"/></a>
        </div>
    </div>
</div>