<div class="row" id="sponsors">
    <div class="first col-md-12">
        <div class="center gap">
            <h2><strong>SPONSORS</strong></h2>
            <p class="lead">If you are interested in sponsoring HackDartmouth, please e-mail <a href="mailto:dartmouthhackathon@gmail.com">dartmouthhackathon@gmail.com</a> for more information.</p>
            <p class="lead">Thank you to the companies and organizations that make HackDartmouth possible!</p>
            <div class="sponsor-row row">
                <a target="blank" href="https://ionicsecurity.com/"><img class="sponsor" src="{{ url_for('static', filename='img/ionic.png') }}" alt="Ionic Security" /></a>
            </div>
            <div class="sponsor-row row">
                <a target="blank" href="http://www.google.com/"><img class="sponsor" src="{{ url_for('static', filename='img/google.png') }}" alt="Google" /></a>
    		</div>
            <div class="sponsor-row row">
                <a target="blank" href="http://dali.dartmouth.edu/"><img class="sponsor" src="{{ url_for('static', filename='img/dali_lab.png') }}" alt="Neukom Lab and Dali Institute"/></a>
                <a target="blank" href="https://mlh.io/"><img class="sponsor" src="{{ url_for('static', filename='img/mlh.png') }}" alt="Major League Hacking"/></a>
            </div>
        </div>
    </div>
</div>